.category-image-carousel{
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 0px;
    margin-bottom: 10px;
}

.image {
    width: 500px;
    height: 400px;
    border-radius: 10px;
}

.right-arrow {
    position :absolute;
    top:50%;
    right: 32px;
    font-size: 3rem;
    color: gray;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position :absolute;
    top:50%;
    left: 32px;
    font-size: 3rem;
    color: gray;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 1;
    transition-duration: 1s ease;
}

.slide-active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
    width:200px;
    height: 200px;
}

.slide-active img{
width: 100%;
height: 100%;
}

.single-item-title{
    display: flex;
    column-gap: 40px;
}
.single-item-container{
    display: flex;
    column-gap: 40px;
    justify-content: left;
    margin-top: 5px;
    padding-left: 10px;
    /* margin-left: 40px; */
    /* flex: 1 1 2 */
}

/* .single-item-container > * {
    /* width: 150px; */
  /* }  */

.item-type-name{
    vertical-align: bottom;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 15px;
    flex-basis: 30%;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    text-align: left;
    /* gap: 10px; */
}


.item-type-name-title{
    vertical-align: bottom;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 16px;
    flex-basis: 30%;
    font-weight: 600;
    /* gap: 10px; */
}




.item-type-name span {
    padding-left: 8px;
}
/* .item-type-name span{
    vertical-align: bottom;
   
    /* gap: 10px; */
/* } */ 

.item-checkbox{
    padding-bottom: 0px;
    margin-top: 2px;
}
.input-purchase-date{
    vertical-align: bottom;
    margin-right: 12px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    flex-basis: 30%;
}
.input-date-title{
    vertical-align: bottom;
    margin-right: 12px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 600;
    flex-basis: 30%;
}
.input-expiration-date{
    flex-basis: 30%;
}

/* .input-expiration-date span {
    vertical-align: bottom;
} */
/* #purchase{
    vertical-align: top;
    padding-top: 0;
    margin-right: 20px;
} */

.input-quantity{
    vertical-align: bottom;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 13px;
    flex-basis: 10%;
}
.input-quantity-title{
    font-weight: 600;
    flex-basis: 10%;
}
.item-selection-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 200px;
    overflow: scroll;
}