/* TODO Add site wide styles */
:root {
    --title1: 28px;
    --button-background:rgb(238,238,238)
}

.close-button-container{
    width: 100%;
    height: 48px;
    justify-content: center;
    /* z-index:100; */
}
.closebutton{
    left: 8px;
    top: 8px;
    width: 48px;
    height: 48px;
    background-color: white;
    border: none;
    border-radius: 50%;
    justify-content: center;
    margin-top: 0px;
    padding: 0;
}

.closebutton:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}

.closebutton:active{
    background-color: rgb(238, 238, 238);
}

.form-container{
    background-color: white;
    /* width: 458px; */
    max-height: 968px;
    margin: 0 auto;
    min-width: 458px;
}

.form-with-img-container{
    background-color: white;
    /* width: 458px; */
    max-height: 968px;
    margin: 0 auto;
    width: 700px;
}

.form-content-container{
    padding: 5px 24px 24px 24px;
}

.form-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    /* margin-bottom:16px; */
}

.form-subtitle{
    font-size:18px;
    font-weight:550;
    margin-top:20px;
    margin-bottom: 16px;
}
.alert-title{
    font-size:18px;
    font-weight:550;
    margin-top:20px;
    margin-bottom: 16px; 
    padding: 20px;
}

.alert-button{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgb(238, 238, 238);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: scroll;
}

.form-input textarea{
    /* padding: 10px 14px 10px 10px; */
    /* max-width: 100%;
    margin: 0;
    border-style: none;
    outline: none;
    border-width: 0;
    cursor: text;
    text-transform: none;
    font-size: 16px; */
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 410px;
    max-width: 410px;
    font-family: sans-serif;
    min-height: 78px;
    overflow: scroll;
    height: 100px;
    resize: none;
}

.form-button{
    display: flex;
    padding-top: 24px;
    bottom:0;
}

.form-button button{
    border-radius: 8px;
    border-style: none;
    margin: 0;
    font-size: 16px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.form-button button:hover{
    cursor: pointer;
}

.error-msg{
    color: red;
}

#signup-link {
    margin-top: 10px;
    align-items: left;
    text-align: left;
    text-decoration: none;

}
#signup-link button{
    background-color: transparent;
    border: none;
    color: black;
    padding-left: 0px;
}
#signup-link button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.preview-img{
    width: 380px;
}
#category-url-input{
    /* ; */
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    cursor: pointer;
}

#category-url-input img{
    width: 100%;
    height: 100px;
}
#category-url-input:hover{
    opacity: 0.7
}