.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-left: 30px; */
    font-size: 14px;
    padding: 0 40px;
    flex-wrap: nowrap;
    margin-left: -12px;
    margin-right: -12px;
    justify-content: space-between;
}

div {
    font-family: Roboto,arial,sans-serif;;
}
.category-list-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    justify-content: center;
    align-items: flex-start;
}
.category-detail{
    display: flex;
    flex-direction: column;
    width: 70px;
    max-width: fit-content;
    min-width: 80px;
    align-items: center;
}

.category-img {
    width: 60px;
    height: 60px;
    /* object-fit: scale-down; */
    position: relative;
    /* display: table-cell ; */
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin: auto;
}

.category-img img {
   max-height: 90%;
   /* height: 60px; */
   max-width: 90%;
   /* border-radius: 100%; */
   object-fit: fill;
   vertical-align: middle;
   justify-content: center;
   bottom: 0;
   /* bottom: 0; */
}

.category-img:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
}
.category-image-divider{
    height: 6px;
}

button.filter-reset{
    background-color: rgb(238, 238, 238);
    /* border-color: gray; */
    border-style: none;
    color: black;
    margin-top: 10px;
    margin-left: 0px;
}
.filter-title {
    font-size: var(--title1);
    margin-top: 5px;
    font-weight: 500;
}

.subtitle {
    font-size: 18px;
    margin-top: 24px;
}
.content-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 80px;
    justify-content: space-between;
    /* justify-content: space-between; */
}

.filter {
    min-width: 160px;
    padding-left: 20px;
    flex-basis: 20%;
}
.current-item-title{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
}

.items-list{
    /* display: flex;
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%; */
    /* flex-wrap: wrap;
    flex: 1 0 calc(25% - 10px); 
    margin: 5px; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(4, 1fr) ;
    gap: 24px;
    flex-basis: 80%;
}
.item-img-container{
    /* width: 350px;
     */
     /* height: 158px; */
     /* max-height: px; */
    margin-bottom: 10px;
    position: relative;
    grid-column: 1;
    height: 128px;
    overflow: hidden;
    /* display: flex; */
}
    
.item-img-container img {
    width: 100%;
    height: 100%;
 }

 /* .item-img-container #purchase-list-detail {
    width: 100%;
    max-height: 100%;
    padding: 12px;
    color: white;
    inline-size:300px;
    overflow-wrap: break-word;
 } */


 .item-img {
    height: 100%;
    width: 100%;
    cursor: pointer;
 }
 .item-img:hover {
    opacity: 0.7
 }
 .name-qty-container {
    display: flex;
    justify-content: space-between;
 }
 .item-name{
    font-weight: 450;
    font-size: 18px;
 }

 .quantiy-inline{
    display: flex;
    padding: 12px 0px;
    top: 0;
    width: 100%;
    position:absolute;
    justify-content: space-between;
}
.quantiy{
    display: inline-block;
    padding:  4px 12px;
    font-weight: 350;
    font-size: 13px;
    color: white;
    border-radius: 0px 24px 24px 0px;
    background-color: rgb(5, 163, 87);
}

 .filter-button {
    background-color: var(--button-background);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px 12px 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 8px 2px;
    border-radius: 30px;
    font-weight: 500;
 }


 .filter-button:active,  .filter-button.active{
    background-color: rgb(113, 113, 113);
 }
 .button-list{
    display: flex;
    /* justify-content: space-around; */
 }
 input[type="date"] {
    font-family: sans-serif;
    font-size: 14px;
    outline: none;
    margin-top: 10px;
  }

  .single-category{
    display: flex;
    align-items: flex-start;
  }
  .category-divider{
    width: 16px;
    height: 1px;
  }

  .add-btn{
    margin-bottom: 10px;
  }

  .items-container{
    margin-left: 40px;
    margin-right: 40px;
}

.my-items-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}
.my-item-img-container{
    /* max-width: 369px;
    height: 128px; */
    margin-bottom: 10px;
    position: relative;
    grid-column: 1;
}

.my-item-img-container img {
    width: 100%;
    height: 100%;
 }

 .delete-inline{
    display: flex;
    padding: 12px 0px;
    top: 0;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    position:absolute;
    border-radius: 50%;
}


 .delete-white-icon{
    display: inline-block;
    padding:  4px 12px;
    font-weight: 350;
    font-size: 18px;
    color: white;
    border-radius: 24px 24px 24px 24px;
    background-color: transparent;
    align-items: flex-end;
}

.delete-white-icon:hover{
    background-color: rgb(238, 238, 238);
    cursor: pointer;
    color: black;
}

.delete-black-icon{
    display: inline-block;
    padding:  4px 12px;
    font-weight: 350;
    font-size: 18px;
    color: black;
    border-radius: 24px 24px 24px 24px;
    background-color: transparent;
    align-items: flex-end;
}

.button-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}