.item-description{
   height: 100%;
   width: 100%;
   cursor: pointer;
   background-color:  rgb(83, 130, 217);
   padding: 12px;
   color: white;
   /* position:relative; */
}
 .item-description:hover {
    opacity: 0.7
 }
 
 /* #mypurchasedelete{
   width:90%;
 } */