.items-container{
    margin-left: 40px;
    margin-right: 40px;
}

/* .my-item-img-container{
    max-width: 369px;
    height: 128px;
    margin-bottom: 10px;
    position: relative;
} */

/* .my-item-img-container img {
    width: 100%;
    height: 100%;
 } */

 .dish-detail{
    display: grid;
    grid-template-rows: 4fr 1fr;
 }

 .delete-blue-icon#delete-red{
    color: red
}